#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

body {
  background-image: url(../images/Background_1.jpg);
  background-size: cover;
  background-position: center;
  background-color: #023047;
  height: 100%;
  margin: 0;
  color: #ede7d7;
  overflow: auto;
  font-family: "Istok Web", "Arial Narrow", Arial, sans-serif;
  background-attachment: fixed;
}

/* Fonts and text */
p {
  font-size: medium;
}
h1 {
  font-size: 6vw;
  text-align: center;
  font-family: "Calistoga", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 4vw;
  text-align: center;
  font-family: "Calistoga", "Arial Narrow", Arial, sans-serif;
}

h3 {
  font-size: 2vw;
  text-align: center;
  font-family: "Istok Web", "Arial Narrow", Arial, sans-serif;
}

h5 {
  font-size: 1.5vw;
  text-align: center;
  font-family: "Istok Web", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 1024px) {
  h5 {
    font-size: large;
  }
}
input,
textarea,
select {
  background-color: #ede7d7;
}

.card {
  background-color: #ede7d7;
  color: #023047;
}

.list {
  color: #ede7d7;
  text-align: center;
}
/* Navbar */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28237, 231, 214, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* burger lines colour*/
}

.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 0 !important;
}

.nav-link {
  color: rgb(237, 231, 214) !important;
}

.color-link:hover {
  color: #ffc107 !important;
}

.color-link-delete:hover {
  color: #ff0f07f2 !important;
}

.navbar-toggler {
  border-color: #ede7ed; /* Border colour */
}

.form-text {
  color: #ede7d7;
}
/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0;
}

.footer-link {
  margin: 0 15 px;
  display: inline-block;
}

.footer-list {
  padding-left: 0;
  font-size: 200%;
}
ul {
  list-style: none;
}

/* Home page 
.homepage {
  display: table;
  height: 200px;
  width: 100%;
}

.homepage h1,
.homepage h2 {
  display: table-cell;
  vertical-align: middle; 
  text-align: center; } */

/* New Idea Page */

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

@media (max-width: 768px) {
  #notes {
    height: 100px;
  }
}

@media (max-width: 1024px) {
  .switch-container {
    width: 33.33%;
    display: inline-block;
  }
  .switch-break {
    width: 100%; /* Ensures that each switch breaks to a new line */
  }
}

/* Pick a date page */
#random-date {
  background-color: #ede7d7;
  border: none;
}
