body {
  background-image: url(../images/Background_1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  color: #ede7d7;
  overflow: hidden;
}

h1 {
  font-size: 8vw;
  text-align: center;
  font-family: "Calistoga", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 6vw;
  text-align: center;
  font-family: "Calistoga", "Arial Narrow", Arial, sans-serif;
}

h3 {
  font-size: 3vw;
  text-align: center;
  font-family: "Istok Web", "Arial Narrow", Arial, sans-serif;
}

h5 {
  font-size: 2vw;
  text-align: center;
  font-family: "Istok Web", "Arial Narrow", Arial, sans-serif;
}

input,
textarea,
select {
  background-color: #ede7d7;
}

.card {
  background-color: #ede7d7;
  color: #023047;
}

.list {
  color: #ede7d7;
  text-align: center;
}
/* Navbar */

.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}

.nav-link {
  color: #ede7d7 !important;
}

.color-link:hover {
  color: #ffc107 !important;
}

.color-link-delete:hover {
  color: #ff0f07f2 !important;
}

.navbar-toggler {
  border-color: #ede7ed; /* Border colour */
}

.form-text {
  color: #ede7d7;
}
/* Footer */

ul {
  list-style: none;
}

/* Home page 
.homepage {
  display: table;
  height: 200px;
  width: 100%;
}

.homepage h1,
.homepage h2 {
  display: table-cell;
  vertical-align: middle; 
  text-align: center; } */

/* New Idea Page */

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

@media (max-width: 768px) {
  #notes {
    height: 100px;
  }
}
