{% extends "base.html" %} {% block content %}
<h1>Add Partner</h1>
<h2>Please hand this over to your partner to get signed up!</h2>
<form method="POST" action="{{ url_for('signup') }}">
  <div class="mb-3">
    <label for="partner_user_name" class="form-label">User Name</label>
    <input
      type="text"
      class="form-control"
      name="partner_user_name"
      id="partner_user_name"
      aria-describedby="#"
      required
    />
    <label for="partner_email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      name="partner_email"
      id="partner_email"
      aria-describedby="emailHelp"
      required
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="partner_SignupPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="partner_SignupPassword"
      required
      maxlength="250"
      name="partner_SignupPassword"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
