{% extends "base.html" %} {% block content %}
<h1>Pick A Date</h1>

{% if no_date_check is none %}
<p>No dates available in the vault yet!</p>
{% else %}
<div class="container">
  <!-- Filter Form -->
  <form method="POST" action="{{ url_for('pick_a_date') }}" id="filter-form">
    <div class="row">
      <div class="col pt-3">
        <div class="form-check form-switch">
          <input type="hidden" name="is_dog" value="no" />
          <label for="is_dog" class="form-label">Dog-friendly?:</label>
          <input
            class="form-check-input"
            type="checkbox"
            id="is_dog"
            value="yes"
            name="is_dog"
          />
        </div>
      </div>
      <div class="col pt-3">
        <div class="form-check form-switch">
          <input type="hidden" name="is_indoor" value="no" />
          <label for="is_indoor" class="form-label">Will It Be Indoors?:</label>
          <input
            class="form-check-input"
            type="checkbox"
            id="is_indoor"
            name="is_indoor"
            value="yes"
          />
        </div>
      </div>
      <div class="col pt-3">
        <div class="form-check form-switch">
          <input type="hidden" name="is_reservation" value="no" />
          <label for="is_reservation" class="form-label"
            >Reservation Needed?:</label
          >
          <input
            class="form-check-input"
            type="checkbox"
            id="is_reservation"
            name="is_reservation"
            value="yes"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mx-auto pt-3">
        <label for="is_time" class="form-label">Time of day?:</label>
        <select name="is_time" id="is_time" class="form-control form-select">
          <option value="" selected disabled>Select Time Of Day</option>
          {% for time in time_options %}
          <option value="{{ time.name }}">{{ time.value }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 col-md-6 mx-auto pt-3">
        <label for="is_budget" class="form-label">Budget?:</label>
        <select
          name="is_budget"
          id="is_budget"
          class="form-control form-select"
        >
          <option value="" selected disabled>Select Budget Needed</option>
          <option value="Any">Any</option>
          {% for budget in budget_options %}
          <option value="{{ budget.name }}">{{ budget.value }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mx-auto pt-3">
        <label for="is_location" class="form-label">Location?:</label>
        <select
          name="is_location"
          id="is_location"
          class="form-control form-select"
        >
          <option value="" selected disabled>Select Date Location</option>
          <option value="Any">Any</option>
          {% for location in location_options %}
          <option value="{{ location.name }}">{{ location.value }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 col-md-6 pt-3">
        <label for="is_activity" class="form-label">Activity level?:</label>
        <select
          name="is_activity"
          id="is_activity"
          class="form-control form-select"
        >
          <option value="" selected disabled>Select Activity Level</option>
          <option value="Any">Any</option>
          {% for activity in activity_options %}
          <option value="{{ activity.name }}">{{ activity.value }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex align-items-center justify-content-center pt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<!-- Random Date Card -->
{% if random_date %}
<div class="card mt-4" id="random-date">
  <div class="card-header bg-primary">
    <h2 class="mb-0 card-header">Your Random Date</h2>
  </div>
  <div class="card-body text-center">
    <div class="row">
      <div class="col-md-6">
        <p class="card-font"><strong>Name:</strong> {{ random_date.name }}</p>
        <p class="card-font">
          <strong>Activity:</strong> {{ random_date.is_activity.name if
          random_date.is_activity else 'N/A' }}
        </p>
        <p class="card-font">
          <strong>Location:</strong> {{ random_date.is_location.name if
          random_date.is_location else 'N/A' }}
        </p>
        <p class="card-font">
          <strong>Budget:</strong> {{ random_date.is_budget.name if
          random_date.is_budget else 'N/A' }}
        </p>
      </div>
      <div class="col-md-6">
        <p class="card-font">
          <strong>Time:</strong> {{ random_date.is_time.name if
          random_date.is_time else 'N/A' }}
        </p>
        <p class="card-font">
          <strong>Dog-friendly:</strong> {{ 'Yes' if random_date.is_dog else
          'No' }}
        </p>
        <p class="card-font">
          <strong>Reservation required:</strong> {{ 'Yes' if
          random_date.is_reservation else 'No' }}
        </p>
        <p class="card-font">
          <strong>Indoor activity:</strong> {{ 'Yes' if random_date.is_indoor
          else 'No' }}
        </p>
      </div>
      {% if random_date.notes.strip() %}
      <div class="col">
        <p class="card-font"><strong>Notes:</strong></p>
        <p class="card-font">{{ random_date.notes }}</p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col d-flex justify-content-center">
      <!-- Re-Roll button -->
      <button class="btn custom-btn card-button" onclick="reloadPage()">
        Re-Roll!
      </button>
    </div>
    <div class="col d-flex justify-content-center">
      <button
        class="btn custom-btn card-button"
        onclick="window.location.href='{{ url_for('pick_a_date') | e }}'"
      >
        Change filters
      </button>
    </div>
  </div>
</div>
{% endif %} {% endif %} {% endblock %}
