{% extends "base.html" %} {% block content %}
<h1>Sign Up</h1>

<form>
  <div class="mb-3">
    <label for="user_name" class="form-label">Name</label>
    <input
      type="#"
      class="form-control"
      name="user_name"
      id="user_name"
      aria-describedby="#"
      required
    />
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      name="email"
      id="email"
      aria-describedby="emailHelp"
      required
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="SignupPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="SignupPassword"
      required
      maxlength="250"
      name="SignupPassword"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
